@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "icon-line";
  src: url("fonts/icon-line.eot?nqs6o1");
  src: url("fonts/icon-line.eot?nqs6o1#iefix") format("embedded-opentype"), url("fonts/icon-line.ttf?nqs6o1") format("truetype"), url("fonts/icon-line.woff?nqs6o1") format("woff"), url("fonts/icon-line.svg?nqs6o1#icon-line") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
i {
  font-family: "icon-line" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-medium:before {
  content: "\e904";
}

.icon-instagram:before {
  content: "\e900";
}

.icon-line:before {
  content: "\e901";
}

.icon-linkedin:before {
  content: "\e902";
}

.icon-facebook:before {
  content: "\e903";
}

:root {
  --primary: #fdf322;
  --secondary: black;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body.dark-bg {
  background-color: #0f0f0f;
}

body.disscroll {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
  max-height: 100%;
}

main {
  padding-top: 70px;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body.dark-mode a {
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-lead {
  font-size: 1rem;
}

@media screen and (min-width: 568px) {
  .bd-lead {
    font-size: -webkit-calc(1rem + 0.3vw);
    font-size: -moz-calc(1rem + 0.3vw);
    font-size: calc(1rem + 0.3vw);
  }
}
@media (min-width: 1200px) {
  .bd-lead {
    font-size: 1.275rem;
  }
}
.btn-primary {
  display: inline-block;
  background-color: var(--secondary);
  border-color: var(--secondary);
  padding: 12px 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.btn-primary:hover,
.btn-primary.focus {
  color: var(--secondary);
  background-color: #fff;
  border-color: var(--secondary);
  -webkit-box-shadow: inset 0 0 0 1px var(--secondary);
          box-shadow: inset 0 0 0 1px var(--secondary);
}

/* Back To Top Btn ---- Start */
@-webkit-keyframes border-transform {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
@-moz-keyframes border-transform {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
@keyframes border-transform {
  0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
  }
}
.progress-wrap {
  position: fixed;
  right: 15px;
  bottom: 15px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(15px);
     -moz-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
  -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.progress-wrap::after {
  position: absolute;
  content: "";
  background-image: url("../img/icon/b-arrow-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: 24px 24px;
          background-size: 24px;
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: var(--secondary);
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
}

.progress-wrap path {
  fill: none;
  stroke: #ff0000;
}

.progress-wrap .progress-circle path {
  stroke: var(--secondary);
  stroke-width: 4;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  transition: all 200ms linear;
}

body.dark-bg .progress-wrap {
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.1);
}

body.dark-bg .progress-wrap::after {
  color: #fff;
}

body.dark-bg .progress-wrap::after {
  background-image: url(../img/icon/w-arrow-up.svg);
}

body.dark-bg .progress-wrap .progress-circle path {
  stroke: #fff;
}

@media screen and (min-width: 1200px) {
  .progress-wrap {
    right: 50px;
    bottom: 50px;
  }
}
/* Back To Top Btn ---- End */
/* Header ---- Start */
header {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  z-index: 10001;
  font-size: 1rem;
  line-height: 2rem;
  padding: 0 20px;
  background-color: #fff;
}

.header-logo {
  width: 40px;
  height: 40px;
}

.hamburger {
  display: block;
  position: absolute;
  cursor: pointer;
  right: 20px;
  top: 16px;
  z-index: 2;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.hamburger div {
  width: 30px;
  height: 2px;
  background: var(--secondary);
  margin: 6px 0;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.hamburger.menu-toggle div {
  background: #fff;
}

body.dark-mode .hamburger div {
  background: #fff;
}

.hamburger.menu-toggle .line-one {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
     -moz-transform: rotate(-45deg) translate(-5px, 6px);
      -ms-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.menu-toggle .line-two {
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  transition: all 0.7s ease;
  width: 0;
}

.hamburger.menu-toggle .line-three {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
     -moz-transform: rotate(45deg) translate(-5px, -6px);
      -ms-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links .social-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.nav-links .social-media > a > i {
  color: #fff;
  font-size: 40px;
  vertical-align: middle;
}

.nav-links {
  position: fixed;
  background: var(--secondary);
  height: -webkit-calc(100vh + 4px);
  height: -moz-calc(100vh + 4px);
  height: calc(100vh + 4px);
  width: -webkit-calc(100vw + 4px);
  width: -moz-calc(100vw + 4px);
  width: calc(100vw + 4px);
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: circle(50px at 90% -20%);
          clip-path: circle(50px at 90% -20%);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  pointer-events: none;
  font-size: 3rem;
  line-height: 3.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  left: -2px;
  top: -2px;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.nav-links.open {
  -webkit-clip-path: circle(1200px at 90% -10%);
          clip-path: circle(1200px at 90% -10%);
  pointer-events: all;
}

.nav-links li {
  opacity: 0;
}

.nav-links li:nth-child(1) {
  -webkit-transition: all 0.5s ease 0.2s;
  -moz-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}

.nav-links li:nth-child(2) {
  -webkit-transition: all 0.5s ease 0.4s;
  -moz-transition: all 0.5s ease 0.4s;
  transition: all 0.5s ease 0.4s;
}

.nav-links li:nth-child(3) {
  -webkit-transition: all 0.5s ease 0.6s;
  -moz-transition: all 0.5s ease 0.6s;
  transition: all 0.5s ease 0.6s;
}

.nav-links li:nth-child(4) {
  -webkit-transition: all 0.5s ease 0.7s;
  -moz-transition: all 0.5s ease 0.7s;
  transition: all 0.5s ease 0.7s;
}

.nav-links li:nth-child(5) {
  -webkit-transition: all 0.5s ease 0.8s;
  -moz-transition: all 0.5s ease 0.8s;
  transition: all 0.5s ease 0.8s;
}

.nav-links li:nth-child(6) {
  -webkit-transition: all 0.5s ease 0.9s;
  -moz-transition: all 0.5s ease 0.9s;
  transition: all 0.5s ease 0.9s;
  margin: 0;
}

.nav-links li:nth-child(7) {
  -webkit-transition: all 0.5s ease 1s;
  -moz-transition: all 0.5s ease 1s;
  transition: all 0.5s ease 1s;
  margin: 0;
}

.nav-links li.fade {
  opacity: 1;
}

.nav-links li a {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  header {
    padding: 0 80px;
  }
  .hamburger {
    display: none;
  }
  .nav-links {
    position: relative;
    width: initial;
    height: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: transparent;
    -webkit-clip-path: initial;
            clip-path: initial;
    font-size: 1rem;
    line-height: 1.8rem;
    pointer-events: initial;
    -webkit-transition: initial;
    -moz-transition: initial;
    transition: initial;
  }
  .nav-links li {
    position: relative;
    opacity: 1;
    -webkit-transition: initial;
    -moz-transition: initial;
    transition: initial;
  }
  .nav-links li.fade {
    -webkit-transition: initial;
    -moz-transition: initial;
    transition: initial;
  }
  .nav-links li a {
    color: var(--secondary);
  }
  .nav-links li:not(:last-of-type) a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0.1em;
    -webkit-transform: scalex(0);
       -moz-transform: scalex(0);
        -ms-transform: scalex(0);
            transform: scalex(0);
    -webkit-transform-origin: right;
       -moz-transform-origin: right;
        -ms-transform-origin: right;
            transform-origin: right;
    background-color: var(--secondary);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), -moz-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), -moz-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  }
  .nav-links li a:hover::after {
    -webkit-transform: scalex(1);
       -moz-transform: scalex(1);
        -ms-transform: scalex(1);
            transform: scalex(1);
    -webkit-transform-origin: left;
       -moz-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
  }
  .nav-links .social-media {
    gap: 15px;
  }
  .nav-links .social-media > a > i {
    font-size: 30px;
    color: var(--secondary);
  }
}
/* Header ---- End */
/* Main ---- Start */
/* Main ---- End */
/* Portfolio List ---- Start */
.filter-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 10px;
  position: relative;
}

.filter-tag {
  padding: 8px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.filter-tag.active {
  background-color: var(--primary);
}

.filter-tag:hover {
  cursor: pointer;
  background: var(--secondary);
  color: #fff;
}

body.dark-mode .filter-tag {
  border-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

body.dark-mode .filter-tag.active {
  color: var(--secondary);
}

body.dark-mode .filter-tag:hover {
  background: rgba(255, 255, 255, 0.1);
}

#portfolio {
  width: 100%;
  padding: 30px 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  gap: 35px 25px;
}

.project-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 -webkit-calc(50% - 17px);
     -moz-box-flex: 0;
      -ms-flex: 0 calc(50% - 17px);
          flex: 0 calc(50% - 17px);
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-transition: ease-out 0.3s;
  -moz-transition: ease-out 0.3s;
  transition: ease-out 0.3s;
}

.project-item:hover {
  -webkit-transform: translateY(-10px);
     -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

.project-img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.project-info {
  padding-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
     -moz-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-category {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.5em;
  letter-spacing: 1.5px;
  color: rgba(0, 0, 0, 0.4);
}

body.dark-mode .project-category {
  color: rgba(255, 255, 255, 0.3);
}

.project-text h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3em;
  color: var(--secondary);
}

body.dark-mode .project-text h2 {
  color: #fff;
}

.project-text .read-more {
  color: var(--secondary);
}

@media screen and (max-width: 768px) {
  /* #portfolio{ padding: 0 10px;} */
  .project-item {
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
       -moz-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}
/* Portfolio List ---- End */
/* Portfolio Single ---- Start */
.prevnext-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  padding-top: 50px;
}

/* all */
.allprojects {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  z-index: 1;
  text-align: center;
  background-color: #ddd;
  padding: 15px 20px;
}

/* default */
.prevnext-item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
     -moz-box-flex: 0;
      -ms-flex: 0 50%;
          flex: 0 50%;
}

.prevnext-item.prev-project {
  text-align: left;
}

.prevnext-item.next-project {
  text-align: right;
}

.prevnext-item a {
  display: block;
}

.prevnext-item .prevnext-bg {
  padding: 150px 80px;
  position: relative;
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.prevnext-item .prevnext-bg:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: #f5f5f5;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.prevnext-item .prevnext-icon {
  z-index: 3;
}

.prevnext-text {
  z-index: 3;
  position: relative;
}

.prevnext-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.prevnext-item .sub-title {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.3em;
  letter-spacing: 2px;
  margin: 0px 0px 5px 0px;
  color: var(--secondary);
  max-width: 100%;
}

.prevnext-item h5 {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.3em;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
  color: transparent;
}

/* hover */
.prevnext-item .prevnext-bg:hover:after {
  background: var(--secondary);
  opacity: 0.7;
}

.prevnext-item .prevnext-bg:hover .prevnext-icon {
  stroke: #fff;
}

.prevnext-item .prevnext-bg:hover .sub-title {
  color: rgba(255, 255, 255, 0.8);
}

.prevnext-item .prevnext-bg:hover h5 {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .prevnext-box {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .prevnext-info {
    gap: 15px;
  }
  .prevnext-item {
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
       -moz-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .prevnext-item .prevnext-bg {
    padding: 80px 50px;
  }
  .prevnext-item .prevnext-bg:after {
    background: var(--secondary);
    opacity: 0.7;
  }
  .prevnext-item .prevnext-bg .prevnext-icon {
    stroke: #fff;
  }
  .prevnext-item .prevnext-bg .sub-title {
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
  }
  .prevnext-item .prevnext-bg h5 {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7);
    color: #fff;
    font-size: 28px;
  }
}
@media screen and (max-width: 768px) {
  .prevnext-item .prevnext-bg {
    padding: 60px 20px;
  }
  .prevnext-item .prevnext-bg h5 {
    font-size: 20px;
  }
  .prevnext-item .prevnext-bg .prevnext-icon {
    width: 30px;
    height: 30px;
  }
}
@media screen and (max-width: 420px) {
  .prevnext-item .prevnext-bg h5 {
    font-size: 16px;
  }
  .prevnext-item .prevnext-bg .prevnext-icon {
    width: 20px;
    height: 20px;
  }
}
/* content */
#project .cover {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

#project .cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#project .project-name {
  position: relative;
  z-index: 1;
  text-align: center;
}

#project .project-name h1 {
  color: #fff;
}

#project .project-name h2 {
  color: rgba(255, 255, 255, 0.5);
}

#project .project-section h3 {
  padding-left: 20px;
  position: relative;
}

#project .project-section h3::after {
  content: "";
  background-color: var(--secondary);
  width: 6px;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#project .about-box {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 1.2rem;
  line-height: 1.6rem;
}

#project .about-box span {
  font-size: 0.8rem;
  line-height: 1rem;
  color: rgba(0, 0, 0, 0.4);
}

#project .about-box p {
  font-size: 1rem;
  line-height: 1.4rem;
}

@media screen and (min-width: 992px) {
  #project .project-url-btn {
    margin-top: 0;
    text-align: right;
  }
}
/* Portfolio Single ---- End */
@media screen and (min-width: 1200px) {
  .menu {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-calc(100% - 120px);
    width: -moz-calc(100% - 120px);
    width: calc(100% - 120px);
    height: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .menu ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
  .menu ul > li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tag-box-out {
    background-color: rgba(0, 0, 0, 0.04);
  }
  .tag-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0;
    margin-top: 100px;
    -webkit-animation: slide-har 50s linear infinite;
       -moz-animation: slide-har 50s linear infinite;
            animation: slide-har 50s linear infinite;
  }
  .tag-box h4 {
    white-space: nowrap;
    font-size: 5vw;
    font-weight: 600;
    line-height: 1.3em;
  }
  .tag-box h4 span {
    color: #ddd;
  }
  .tag-box .item:nth-of-type(even) h4 span {
    color: transparent;
    -webkit-text-stroke: 1px #ddd;
  }
  .tag-box .image {
    width: 50px;
  }
  @-webkit-keyframes slide-har {
    0% {
      -webkit-transform: translateX(0%);
              transform: translateX(0%);
    }
    100% {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%);
    }
  }
}
footer {
  text-align: center;
  font-size: 0.8rem;
  padding: 10px 0;
  color: rgba(0, 0, 0, 0.5);
}

body.dark-mode footer {
  color: rgba(255, 255, 255, 0.2);
}

.fadedown,
.fadeup {
  will-change: transform;
  opacity: 0;
  -webkit-transition: 0.8s all cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: 0.8s all cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.8s all cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateY(50px);
     -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.fadeup {
  -webkit-transform: translateY(50px);
     -moz-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.fadedown {
  -webkit-transform: translateY(-50px);
     -moz-transform: translateY(-50px);
      -ms-transform: translateY(-50px);
          transform: translateY(-50px);
}

.fadedown.animate,
.fadeup.animate {
  opacity: 1;
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}